:root {
    --color-primary: rgb(77, 10, 164);
    --color-secondary: rgb(173, 119, 255);
    --color-text: rgb(80, 80, 80);
    --h-grad: linear-gradient(180deg, rgba(255, 223, 51, 1) 24%, rgba(238, 180, 17, 1) 72%);
}

html {
    scroll-behavior: smooth;
    transition: 1s;
    overflow-x: hidden;
}

body {
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

div,
p,
span {
    font-weight: 300;
}

.hamburger {
    position: relative;
    width: 25px;
    height: 2px;
    top: 10px;
    background: #000000;
    border-radius: 14px;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background: #000000;
    transition: 0.5s;
    border-radius: 14px;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;

}

.mobile-menu {
    top: 40px;
    z-index: 2;
    height: 24px;
}

.mobile-menu:hover .hamburger::before {
    top: -12px;
}

.mobile-menu:hover .hamburger::after {
    top: 12px;
}

.mobile-menu.open .hamburger {
    background-color: transparent;
    transition: 0.3s;
}



.mobile-menu.open .hamburger::before {
    top: 0;
    transform: rotate(45deg);
}

.mobile-menu.open .hamburger::after {
    transform: rotate(-45deg);
    top: 0;
}

.mobile-menu.open:hover .hamburger::before {
    top: 12;
}

.mobile-menu.open:hover .hamburger::after {
    top: 12;
}

.nav-contact {
    position: relative;
}

.nav-contact::after {
    content: '';
    width: 20%;
    height: 1px;
    background-color: #707070;
    right: -45px;
    top: 12px;
    position: absolute;
}

.social-icons {
    list-style: none;
}

.nav li {
    font-size: 17px;
    font-weight: bold;
}

.nav {
    list-style: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 2em;
    z-index: 9999999;
}

nav.navbar.navbar-expand-lg.bg-transparent.mt-4.mx-3 {
    z-index: 9999;
}

.nav li a {
    text-decoration: none;
    color: #000000;
    position: relative;

}

.nav li a.active {
    color: var(--color-primary);
}

.nav li a:hover {
    color: var(--color-primary);
    transition: all 1100ms cubic-bezier(0.19, 1, 0.22, 1)100ms;

}

.nav li a.active::before,
.nav li a:hover::before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 100px;
    background-color: var(--color-primary);
    position: absolute;
    bottom: -7px;
    left: 45%;
    color: var(--color-primary);
    transition: all 1100ms cubic-bezier(0.19, 1, 0.22, 1)100ms;
}

.watch-video {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: black;
    z-index: 1000;
    transition: 1s ease;
}

.watch-video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-video {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 1%;
    left: 98%;
    transform: translate(-98%, -1%);
}

.fa-facebook-f,
.fa-pinterest-p,
.fa-twitter,
.fa-youtube,
.fa-google-plus-g,
.fa-instagram {
    color: var(--color-primary);
}

.navContainer {
    height: 30%;
    position: relative;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
}

.navContainer::before {
    content: '';
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    height: 10px;
    background: linear-gradient(277deg, var(--color-primary) 4%, var(--color-secondary) 84%);
}


.ftr-btn {
    padding: 14px 39px 15px 39px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    text-decoration: none;
    background: transparent;
    display: inline-block;
    margin-top: 1em;
    font-size: 1rem;
    position: relative;
    background: var(--h-grad);
    z-index: 5;
    border-radius: 30px;
    box-shadow: 0px 11px 35px 0px rgba(255, 225, 50, 0.65);
}

.fbtn-overlay {
    position: absolute;
    left: 40%;
    top: 41%;
    width: 20%;
    height: 20%;
    z-index: -5;
    transition: 250ms cubic-bezier(0.75, 0.1, 0.25, 0.9);
    border-radius: 30px;
}

.fbtn-txt {
    z-index: -1;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    color: #202020;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.48px;
    transition: transform 450ms, opacity 450ms;
}

.ftr-btn:hover .fbtn-txt {
    color: #ffffff;
}

.ftr-btn:hover .fbtn-overlay {
    background-color: #000000;
    scale: 5.2;
    border: none;
}

.ftr-btn:hover {
    box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.65);
}


.f-content {
    width: 100%;
    max-width: 1300px;
    background-image: linear-gradient(179deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    height: 50vh;
    border-radius: 12px;
    margin-bottom: -12em;
    position: relative;
}

.f-content-ptrn {
    position: absolute;
    width: 400px;
    top: 67%;
    right: -12%;
}


footer h5 {
    color: rgba(255, 255, 255, 0.70);
}

footer h2 {
    font-size: 56px;
    font-weight: 500;
    line-height: 66px;
    color: #ffffff;
}

.divider {
    height: 3px;
    width: 38px;
    background-image: linear-gradient(270deg, var(--color-secondary) 9%, var(--color-primary) 100%);
}

.f-menu ul {
    list-style: none;
    padding: 0;
}

.f-menu ul li {
    margin: 1.8rem 0;
}

.f-menu ul li a {
    color: #202020;
    text-decoration: none;
}

.f-logo {
    border-radius: 22px;
}

.footer {
    color: #505050;
    z-index: -1;
}

.f-menu-a {
    background-image: url('../images/footer.png');
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    padding-top: 18em;
}

.footer h3 {
    color: #000000;
}

.f-p {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    font-style: italic;
}

.f-form {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 100px;
}

.f-form form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 6px;
    border-radius: 100px;

}


.form input {
    width: 100%;
    min-width: 150px;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 20px 0 0 20px;
}

.form button {
    padding: 12px 19px;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 1px;
    border-radius: 100px;
    background-color: var(--color-primary);
    transition: all ease-out 0.3s;
    color: white;
    border: none !important;
}

.form form {
    display: flex;
    width: 100%;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

footer .copy {
    margin: 5em 0;
    color: rgba(32, 32, 32, 0.65);
    font-size: 20px;
    font-weight: 400;
}

/* Hero */

.hero {
    background: url('../images/hero-rounded.png');
    height: 80vh;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: right top;
    transition: 1s ease;
    border-radius: 30px;
    transform: translate(1%, -6%);
}


.h2-dec {
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 5px;
    color: #505050;
    margin: 4rem 0px 23px 0px;
}

.hero_heading {
    display: inline-block;
    max-width: 811px;
}

.hero_heading span {
    font-size: 66px;
    font-weight: 600 !important;
    text-transform: capitalize;
    line-height: 77px;
    margin: 0px 0px 40px 0px;
    background: linear-gradient(271deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_heading .head-after {
    position: relative;
}

.hero_heading .head-after::after {
    content: '';
    width: 100%;
    height: 40%;
    background: rgb(255, 223, 51);
    background: linear-gradient(180deg, rgba(255, 223, 51, 1) 24%, rgba(238, 180, 17, 1) 72%);
    position: absolute;
    left: -1px;
    bottom: 13px;
    z-index: -1;
}

.hero-cont {
    position: relative;
}

.hero-cont img {
    position: absolute;
    left: -10%;
    top: 10%;
    transition: 1s ease;
}


.hero-btn .watch {
    text-align: center;
    text-decoration: none;
    padding: 15px 40px 15px 40px;
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 0px 6px 35px 0px rgba(17, 17, 17, 0.40);
    color: white;
    border-radius: 70px;
    display: inline;
    cursor: pointer;
    transition: 450ms ease;
}

.hero .container h6 {
    font-size: 16px;
    color: var(--color-primary);
}

.hero-btn {
    margin-top: 6rem;
}

.heading-divider {
    transition: all 250ms ease-out;
    height: 1px;
    background-color: #BBB;
    width: 50px;
    height: 6px;
}

.cards-sec {
    z-index: 200;
}

.cards-container {
    padding: 17% 8% 17% 9%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.15);
    z-index: 200;
}

.card-1 h3 {
    font-size: 22px !important;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 7.04px;
    margin: 0px 0px 44px 0px;
}

.card-1 h2 {
    font-size: 3rem;
}

.cards-container h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 33px;
    margin: 0px 0px 44px 0px;
}

.cards-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
}

.cards-container.card-1 {
    background-image: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    color: #ffffff !important;
    box-shadow: 0px 3px 45px 0px rgba(172, 118, 254, 0.5);
}

.cards-container h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 58px;
}

.fa-building,
.fa-road,
.fa-industry,
.fa-sun,
.fa-couch,
.fa-archway,
.fa-home,
.fa-envelope,
.fa-mobile-alt,
.fa-map-marker-alt,
.fa-clock {
    font-size: 3.75em;
    background-image: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.id-image {
    position: relative;
}

.id-image img {
    border-radius: 20px;
}

.img-heading {
    font-size: 16px;
    font-weight: 400;
    background-color: #ea4335;
    width: 280px;
    color: #FFFFFF;
    padding: 18px 30px;
    position: absolute;
    bottom: 4%;
}

.identity-h3 span,
.project-h3 span {
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 65px;
    letter-spacing: -1px;
    margin: 0px 0px 55px 0px;
    background: linear-gradient(271deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.id-txt {
    color: #505050;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    width: 40%;
    margin-left: auto;
    position: relative;
    z-index: 999;
}

.cards-sec {
    position: relative;
    z-index: 100;
}

.id-btn {
    padding: 16px 41px 16px 41px;
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    box-shadow: 0px 6px 35px 0px rgba(83, 17, 170, 0.73);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}

.id-btn .fbtn-txt {
    color: #ffffff;
}

.identity {
    background: url('../images/background-about-uss.png');
    background-size: cover;
    background-position: top center;
    height: 140vh;
    margin-top: -17rem;
    z-index: 70;
    position: relative;
}

.identity .row {
    padding-top: 25rem;
    z-index: 30;
}

.id-ptrn2 {
    position: absolute;
    z-index: -1;
    bottom: -8%;
    left: -8%;
}

.id-ptrn1 {
    position: absolute;
    bottom: -4%;
    right: 14%;
    width: auto;

}

.id-wrapper {
    position: relative;
}

.h6-dec-p {
    font-size: 12px;
}

.p-img {
    border-radius: 30px;
    width: 100%;
    height: 80%;
}

.project a {
    text-decoration: none;
}

.cnt-bx {
    position: relative;
}

.p-cont-box {
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.29);
    transition: all 1100ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #FFFFFF;
    width: 80%;
    padding: 2rem;
    position: absolute;
    left: 10%;
    bottom: 2%;
    padding-left: 5rem;
    border-radius: 15px;
}

.project a:hover .p-cont-box {
    transform: translateY(-20%);
    background-image: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    box-shadow: 0px 3px 45px 0px rgba(172, 118, 254, 0.5);
}

.p-cont-box h3 {
    color: #202020;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    position: relative;
}

.project a:hover .p-cont-box h3,
.project a:hover .p-cont-box h3 span {
    color: #FFFFFF;
}

.p-cont-box h3::after {
    content: '';
    width: 30px;
    height: 6px;
    background: linear-gradient(277deg, var(--color-secondary) 4%, var(--color-primary) 84%);
    position: absolute;
    border-radius: 8px;
    left: -40px;
    top: 15px;
    transition: all 1100ms cubic-bezier(0.19, 1, 0.22, 1);
}

.project a:hover .p-cont-box h3::after {
    background: #FFFFFF;
}

.p-cont-box h3 span {
    display: block;
    color: #9a9a9a;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 29px;
}

.p-btn {
    text-align: center;
    text-decoration: none;
    padding: 15px 40px 15px 40px;
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 0px 6px 35px 0px rgba(17, 17, 17, 0.40);
    color: white;
    border-radius: 70px;
    width: 230px;
    transition: 450ms ease;
}

.p-btn:hover,
.watch:hover {
    box-shadow: 0px 6px 35px 0px rgba(17, 17, 17, 0.9);
}

.logo-row {
    padding: 80px 0px 90px 0px;
}

.logos {
    background-color: rgba(209, 209, 209, 0.15);
    border-radius: 20px;
}

/* testimonial section */
.textimonial {
    width: 83vw;
    margin: auto auto;
}

.testimonial-wrapper {
    background: url('/images/Path-9582x.png') no-repeat;
    background-size: contain;
    background-position: left 2% top;
    height: 120%;
    display: flex;
    position: relative;
    margin: 10rem 0;
}

.test-ptrn {
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: -1;
}

.testimonial-box {
    padding: 70px 40px 40px 40px;
    position: relative;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 3px 0px 35px 0px rgba(0, 0, 0, 0.29);
}

.testimonial_sym {
    z-index: 200;
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translateX(-50%);
}

.testimonial_sym h4 {
    color: #ffffff !important;
    font-family: 'Domine', serif;
    font-size: 100px;
    font-weight: 300;
    line-height: 116px;
    margin-bottom: 0px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.testimonial_sym h4::after {
    content: '';
    background: linear-gradient(180deg, var(--color-secondary) 4%, var(--color-primary) 84%);
    position: absolute;
    width: 102px;
    height: 102px;
    top: -19px;
    left: 0%;
    right: 0;
    z-index: -1;
    border-radius: 100px;
    box-shadow: 0 3px 20px #4D0AA480;
    max-width: 100%;
    margin: auto;
}

.testimonial-p {
    color: #202020;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
}

.testimonial-auth {
    color: var(--color-primary);
    font-size: 23px;
    font-weight: 500;
    line-height: 32px;
    position: relative;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.testimonial-auth::before {
    content: '';
    background: linear-gradient(277deg, var(--color-secondary) 4%, var(--color-primary) 84%);
    width: 30px;
    height: 3px;
    position: absolute;
    left: 5%;
    top: 15px;
}

.tbx-frow2nd {
    margin-top: 100px;
}

.test-h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 5px;
    color: #202020;
    margin: 0px 0px 25px 0px;
}

.test-h2 {
    background: linear-gradient(271deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 65px;
    letter-spacing: -1px;
    margin: 0px 0px 40px 0px;
    max-width: 579px;
}

.test-p {
    font-size: 16px;
    line-height: 25px;
    max-width: 546px;
    font-style: italic;
    color: #202020;
    font-weight: 600;
}

.test-col-3rd {
    padding-left: 5rem;
}

.test-btn {
    margin-top: 70px !important;
}

.h6-meeet {
    color: #202020;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
}

.meetHeading {
    background: linear-gradient(271deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 65px;
    letter-spacing: -1px;
    text-align: center;
    margin: 4rem 0;
}

.meetTeam {
    background-image: url('/images/backgranod-Team-section.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    width: 82%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.memBox {
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
    padding: 5% 5% 3% 0;
    width: 80%;
    margin: 0 auto;
}

.meemCont,
.meemPpl {
    margin-top: 4%;
}

.memImg {
    width: 150%;
    border-radius: 22px;
    margin-top: -5%;
    margin-left: -45%;
}

.memName {
    font-size: 31px;
    font-weight: 500;
    line-height: 44px;
    color: var(--color-primary);
}

.memPost {
    font-size: 19px;
    text-transform: none;
    line-height: 27px;
    color: #202020;
    font-weight: 400;
    margin-bottom: 18px;
}

.memAbout {
    color: #505050;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.memsocial {
    display: flex;
    gap: 3em;
    font-size: 18px;
}

.meetTxt {
    padding-left: 7%;
}

.up-btn {
    position: fixed !important;
    padding: 10px 17px 10px 17px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    text-decoration: none;
    background: #FFFFFF;
    display: inline-block;
    margin-top: 1em;
    font-size: 1rem;
    position: relative;
    border: 1px solid #202020;
    z-index: 5000;
    border-radius: 30px;
    bottom: 0%;
    right: 2%;
}

.upbtn-overlay {
    position: absolute;
    left: 39%;
    top: 40%;
    width: 20%;
    height: 20%;
    z-index: -5;
    transition: 250ms cubic-bezier(0.75, 0.1, 0.25, 0.9);
    border-radius: 30px;
}

.upbtn-txt {
    z-index: -1;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    color: #202020;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.48px;
    transition: transform 450ms, opacity 450ms;
    margin-left: 2px;
}

.up-btn:hover .upbtn-txt {
    color: #ffffff;

}

.up-btn:hover .upbtn-overlay {
    background-color: #202020;
    scale: 5.2;
    border: none;
    transition: 0.3s;
    border: 1px solid #202020;
}

.upbtn-btn:hover {
    box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.65);
}

/* Project page */
.project_heading {
    margin: 6em 0 4em 0;
}

.project_heading span {
    font-size: 50px;
    font-weight: 500 !important;
    line-height: 65px;
    letter-spacing: -1px;
}

.ppage-cnt .p-cont-box {
    position: absolute;
    left: 10%;
    bottom: 5%;
    padding-left: 5rem;
    border-radius: 15px;
    padding: 1rem;
    padding-left: 5rem;
}

.ppage-cnt {
    position: relative;
    overflow: hidden;
}

.pimage-wrap {
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.ppage-cnt .p-img {
    border-radius: 30px;
    width: 100%;
    height: 100% !important;
    transition: 1s ease-in-out;
}

.ppage-cnt:hover .p-img {
    transform: scale(1.2);
}

.project a:hover .ppage-cont-box {
    transform: translate(0);
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(173, 119, 255, 0.9) 0%, rgba(77, 10, 164, 0.9) 100%);
    box-shadow: 0px 3px 45px 0px rgba(172, 118, 254, 0.5);
}

.ppage-cont-box h3 {
    transition: padding .6s ease-in-out;
    position: relative;
}

.project a:hover .ppage-cont-box h3 {
    padding-bottom: 70%;
}

.fa-long-arrow-alt-right {
    position: absolute;
    bottom: 0;
    opacity: 0;
    right: 30%;
    transition: all 0.7s ease-in-out;
}

.project a:hover .fa-long-arrow-alt-right {
    right: 5%;
    opacity: 1;
}

/* Project single */
.s_project_content {
    width: 40%;
}

.p-like-share {
    display: flex;
    gap: 1.5em;
    position: relative;
    padding: 1em 0;
}

.p-like-share::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 200px;
    background-color: #DEDEDE;
    right: 0;
    top: -2px;
}

.p-like-share::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 200px;
    background-color: #DEDEDE;
    right: 0;
    bottom: -2px;
}

.lft-btn {
    position: relative;
    padding: 12px 20px 12px 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    text-decoration: none;
    background: #FFFFFF;
    display: inline-block;
    margin-top: 1em;
    font-size: 1rem;
    border: 1px solid #202020;
    z-index: 5000;
    border-radius: 30px;
    bottom: 0%;
    right: 2%;
    z-index: 2;
}

.lftbtn-overlay {
    position: absolute;
    left: 40%;
    top: 41%;
    width: 20%;
    height: 20%;
    z-index: -5;
    transition: 250ms cubic-bezier(0.75, 0.1, 0.25, 0.9);
    border-radius: 30px;
}

.lftbtn-txt {
    z-index: -1;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    color: #202020;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.48px;
    transition: transform 450ms, opacity 450ms;
}

.lft-btn:hover .lftbtn-txt {
    color: #ffffff;

}

.lft-btn:hover .lftbtn-overlay {
    background-color: #202020;
    scale: 5.2;
    border: none;
    transition: 0.3s;
}

.lftbtn-btn:hover {
    box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.65);
}

.prev-project:hover .lftbtn-overlay {
    background-color: #202020;
    scale: 5.2;
    border: none;
    transition: 0.3s;
}

.prev-project:hover .lftbtn-txt {
    color: #ffffff;
}


.prev-project,
.next-project {
    display: flex;
    align-items: center;
    gap: 1em;
}

.prev-project:hover .prev-txt h4 {
    text-decoration: underline;
}

.prev-project:hover .prev-txt h5 {
    text-decoration: underline;
}

.prev-txt {
    transition: .3s ease-in-out;
}

.prev-project:hover .prev-txt {
    transform: translateX(-4%);
}


.prev-txt h5,
.next-txt h5 {
    font-size: 0.75em;
    color: #AAA;
    margin-bottom: 4px;
    margin-top: 0;
}

.prev-txt h4,
.next-txt h4 {
    font-size: 1.125em;
    font-weight: 600;
    white-space: nowrap;
    min-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #505050;
}

.next-txt {
    text-align: right;
}

.next-project:hover .lftbtn-overlay {
    background-color: #202020;
    scale: 5.2;
    border: none;
    transition: 0.3s;
}

.next-project:hover .lftbtn-txt {
    color: #ffffff;
}


.next-project,
.next-project {
    display: flex;
    align-items: center;
    gap: 1em;
}

.next-project:hover .next-txt h4 {
    text-decoration: underline;
}

.next-project:hover .next-txt h5 {
    text-decoration: underline;
}

.next-txt {
    transition: .3s ease-in-out;
}

.next-project:hover .next-txt {
    transform: translateX(4%);
}

.related-projects {
    margin: 4em 0;
}

.related-projects h2 {
    font-size: 1.6875em;
    line-height: 1.8;
    font-weight: 600;
    color: #444;
    margin-bottom: 2em;
}

.related-project-name {
    font-weight: 600;
    font-size: 2.3em;
    line-height: 150%;
    word-break: break-word;
    font-size: 1.25em;
    line-height: normal;
}

.related-project-name a {
    color: #3D3D3D;
}

.project-by {
    font-size: 0.88em;
    color: #888;
}

.project-by a {
    color: #888;
}

.related-projects a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.related-projects a:hover {
    color: #1bb0ce;
}

/* service page */
.service-heading {
    margin: 6em auto;
}

.service-heading h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 5px;
    color: #202020;
    text-align: center;
}

.service-heading h2 {
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 65px;
    letter-spacing: -1px;
    margin-right: 0px;
    margin-left: 0px;
    margin: 0 auto;
    text-align: center;
}

.service-heading h2 .head-before {
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 65px;
    letter-spacing: -1px;
    background: linear-gradient(271deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-heading h2 .head-after {
    font-size: 50px;
    font-weight: 500;
    line-height: 65px;
    letter-spacing: -1px;
    background: linear-gradient(271deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.approach {
    background-color: #f3f3f3;
    padding: 8em 0;
}

.approach-txt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.approach h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 5px;
    color: #202020;
    margin-bottom: 16px;
}

.approach h2 {
    text-transform: capitalize;
}

.approach h2 .head-before {
    font-size: 50px;
    font-weight: 500;
    line-height: 65px;
    letter-spacing: -1px;
    background: linear-gradient(271deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.approach h2 .head-after {
    font-size: 50px;
    font-weight: 500;
    line-height: 65px;
    letter-spacing: -1px;
    background: linear-gradient(271deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.approach-txt p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #505050;
    margin-top: 3em;
    width: 75%;
}

.approach img {
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.38);
    transition: 1s ease-in-out;
}

.sercives.cards-sec {
    margin: 8em 0;
}

/* Contact heading */
.contact-content {
    margin: 6em auto;
}

.contact-heading h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 5px;
    color: #202020;
    text-align: left;
}

.contact-heading h2 {

    font-weight: 500;
    text-transform: capitalize;
    line-height: 65px;
    letter-spacing: -1px;
    margin-right: 0px;
    margin-left: 0px;
    margin: 0 auto;
    text-align: left;
}

.contact-heading h2 span {
    font-size: 48px !important;
}

.contact-heading h2 .head-before {
    font-weight: 500;
    text-transform: capitalize;
    line-height: 65px;
    letter-spacing: -1px;
    background: linear-gradient(271deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-heading h2 .head-after {
    font-weight: 500;
    line-height: 65px;
    letter-spacing: -1px;
    background: linear-gradient(271deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cont-cards {
    transition: 0.3s ease-in-out!important;
}

.cont-cards:hover {
    background-image: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    color: #ffffff !important;
    box-shadow: 0px 3px 45px 0px rgba(172, 118, 254, 0.5);
}
.cont-cards .cont-i{
    transition: 0.2s;
}
.cont-cards:hover .cont-i{
    -webkit-background-clip: text;
    -webkit-text-fill-color: white!important;
}


.contact-social a i {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 3px 35px #00000029;
    transition: 0.2s ease-in-out;
}

.contact-social i.fa-facebook-f {
    padding: 16px 19px 16px 19px;
}

.contact-social i.fa-pinterest-p {
    padding: 16px 18px 16px 18px;
}

.contact-social i.fa-twitter {
    padding: 16px 16px 16px 16px;
}

.contact-social i.fa-instagram {
    padding: 16px 17px 16px 17px;
}

.contact-social {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    margin: 3em 0;
}

.contact-social a i:hover {
    background: linear-gradient(190deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    color: #ffffff;
}

.contact-form-wrapper {
    background: url('/images/background-srvices.png');
    background-size: cover;
    padding: 20em 0 5em 0;
    margin-top: -20em;
    background-repeat: no-repeat !important;
    background-position: center;
    z-index: 30;
}

form.contact-form input,
form.contact-form textarea {
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.92);
    border: none;
    padding: 10px 25px !important;
    margin-bottom: 2em;
    line-height: 1.5;
    font-size: 1rem;
    color: #444;
}

form.contact-form textarea {
    height: 100%;
    border-radius: 30px;
}

form.contact-form {
    display: flex;
    flex-direction: column;
}

form.contact-form button {
    background: linear-gradient(90deg, var(--color-secondary) 4%, var(--color-primary) 84%);
    border-radius: 150px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300 !important;
    padding: 13px 46px !important;
    height: 52px !important;
    box-shadow: 0 6px 35px rgba(83, 17, 170, 0.7);
    letter-spacing: 0.48px;
    margin-top: 15px;
    text-transform: capitalize;
    margin-top: 38px;
    border: none;
    align-self: flex-end;
}

/* About */
.about-wrapper {
    margin-top: 8em;
}

.about-cont {
    padding: 0;
}

.about-cont h2 {
    margin: 1.5em 0;
}

.about-cont-p {
    margin-bottom: 1.7em;
    font-size: 0.9375em;
    line-height: 1.6;
    margin-bottom: 1.7em;
    letter-spacing: 1px;
    color: #505050;
    font-weight: 600;
    margin-top: 2em;
}

.about-icons i {
    font-size: 46px;
    color: red;
    background: linear-gradient(312deg, var(--color-secondary) 4%, var(--color-primary) 84%);
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 4px 25px 0px rgba(77, 10, 164, 0.8);
    color: #ffffff;
    border-radius: 50%;
}

.about-icons .fa-lightbulb {
    padding: 20px 26px 20px 26px;
}

.about-icons .fa-shopping-bag {
    padding: 20px 22px 20px 22px;
}

.about-icons .fa-person-booth {
    padding: 20px 16px 20px 16px;
}

.about-icons .about-clock {
    padding: 20px 20px 20px 20px;
    color: white !important;
    -webkit-text-fill-color: white;
}

.about-icons h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    color: #202020;
}

.about-img {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.33);
    align-self: center;
}

.ab-banner-wrapper {
    background-image: url('/images/waiting-for-a-taxi-PJ3UG67@2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 36px 36px 36px 36px;
    box-shadow: 0px 15px 35px 0px rgba(77, 10, 164, 0.59);
}

.ab-banner {
    background-image: linear-gradient(207deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    opacity: 0.92;
    border-radius: 36px 36px 36px 36px;
    padding: 10em 0;
}

.ab-banner h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.48px;
    text-align: center;
    color: #FFFFFF;
}

.ab-banner h5 {
    color: rgba(255, 255, 255, 0.70);
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin-bottom: 70px;
}

.ab-banner .ftr-btn {
    display: flex;
    justify-content: center;
    width: 190px;
    margin: 0 auto;
}

.about-p-btn {
    margin: 0 !important;
    width: 210px;
}

.who-are-we {
    margin: 10em 0;
}

.who-img-center {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.38);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-img-center img {
    width: 100%;
}

.who-last {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.who-last p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #505050;
}

.who-last img {
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.38);
    height: 60%;
    margin-top: 4em;
}


@media(max-width:1406px) {
    .memName {
        font-size: 23px;
    }

    .memPost {
        font-size: 17px;
    }

    .memAbout {
        font-size: 14px;
        height: 80px;
        overflow: hidden;
        font-size: 14px;
    }

    .memBox {
        width: 95%;
    }

    .meetTxt {
        padding-left: 3%;
    }

    .meemPpl {
        margin: 0 2%;
    }

    .ppage-cont-box h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 39px;
    }

    .ppage-cont-box h3 span {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .nav {
        gap: 1.5em;
    }

    .nav li {
        font-size: 15px;
    }

}


@media(max-width:1248px) {

    .testimonial-p {
        font-size: 16px;
        line-height: 33px;
    }

    .testimonial-auth {
        font-size: 17px;
    }

    .meetTeam {
        width: 90%;
    }
}

@media(max-width:1200px) {
    .img-heading {
        bottom: 18%;
    }

    .identity {
        height: 120vh;
    }

    .testimonial-auth::before {
        left: 10%;
    }

    .test-box-weapper {
        gap: 2em;
        margin-top: 5rem;
    }

    .test-box-weapper .testimonial-box {
        height: 100%;
        margin: 0;
        width: 47%;
    }

    .test-col-3rd {
        padding-left: 0;
    }

    .meetTeam {
        background-size: contain;
        height: 100%;
    }

    .s_project_content {
        width: 80%;
    }

    .approach-txt h2 .head-after {
        display: inline !important;
    }

    .contact-heading h2 span {
        font-size: 42px !important;
        line-height: 59px;
    }

    .contact-heading.about-cont.whyUs-cont h2 span {
        font-size: 35px !important;
        text-align: left;
    }

}

@media(max-width:1024px) {
    .hero {
        padding-left: 5em !important;
        height: 100vh;
        background-position: center top;
        background-size: cover;
        transform: translate(0, 0);
        border-radius: 30px;
    }

    .hero-cont img {
        left: -15%;
        top: -15%;
        z-index: 2;
    }

    .memsocial {
        gap: 1.7em;
    }

    .about-cont h2 {
        font-size: 44px !important;
        line-height: 59px;
    }

}


@media(max-width:992px) {
    .p-cont-box h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }

    .p-cont-box h3 span {
        font-size: 13px;
    }

    .p-cont-box {
        padding: 1.2rem;
        bottom: 1%;
        padding-left: 4rem;
    }

    .cards-sec {
        margin-top: -6rem;
        position: relative;
    }

    .m-close {
        border: 1px solid gray;
        padding: 4px 12px;
        border-radius: 50%;
    }

    footer h2 {
        font-size: 40px;
        line-height: 54px;
    }

    .hero_heading span {
        font-size: 47px;
    }

    .navContainer {
        padding-top: 10px;
        z-index: 9999999 !important;
    }

    .nav {
        position: fixed;
        flex-direction: column !important;
        top: -120%;
        left: 0;
        gap: 60px;
        background-color: transparent;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
    }

    .nav li a {
        color: #ffffff;
        font-size: 28px;
    }

    .identity h2 {
        margin: 0;
    }

    .identity-h3 span {
        font-size: 30px;
        margin: 0;
    }

    .id-txt {
        color: #505050;
        font-size: 16px;
        font-weight: 300;
        width: 45%;
    }

    .img-heading {
        width: 80%;
        bottom: 28%;
    }

    .identity {
        height: 110vh;
    }

    .logo-row {
        padding: 20px 0px 20px 0px;
    }

    .memImg {
        width: 300px;
        margin: -20% auto 0 5%;
    }

    .memBox {
        text-align: center;
        margin-bottom: 90px;
        margin-top: 20px;
    }

    .memName {
        margin-top: 20px;
    }

    .memsocial {
        justify-content: center;
    }

    .approach h2 span {
        font-size: 36px !important;
        line-height: 55px;
    }

    .approach-txt p {
        font-size: 14px;
        width: 100%;
    }

    .contact-form button {
        align-self: center;
    }

    .contact-heading h2,
    .contact-heading h3 {
        text-align: center;
    }

    .contact-form-wrapper {
        padding: 13em 0 4em 0;
    }

    .about-cont {
        margin-top: 5em;
    }

    .about-cont h3 {
        text-align: left;
    }

    .about-cont h2 {
        text-align: left;
    }

    .about-cont h2 span {
        text-align: left;
        font-size: 39px !important;
        line-height: 59px;
    }

    .ab-banner h2 {
        font-size: 35px;
        line-height: 46px;
    }

    .ab-banner h5 {
        font-size: 20px;
        margin-top: 3em;
    }

    .ab-banner {
        padding: 3em;
    }

    .ab-banner-wrapper {
        margin: 0 auto;
    }

    .who-are-we {
        margin: 3em 0;
    }
}

@media(max-width:768px) {
    .img-heading {
        width: 280px;
        bottom: 4%;
    }

    .id-txt {
        width: 100%;
    }

    .identity {
        height: 140vh;
    }

    .hero {
        background-size: 100%;
        background-position: center top;
        background-size: cover;
        transform: translate(-3%, 0);
        border-radius: 0 30px 30px 0;
    }

    .hero_heading span {
        margin: 0;
        font-size: 35px !important;
        line-height: 55px;
    }

    .hero h2 {
        margin: 2rem 0px 1rem 0px;
    }

    .hero-btn {
        margin-top: 4rem;
    }

    .cards-container {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .id-image {
        margin-top: 2rem;
    }

    .identity {
        width: 90%;
        margin: 0 auto;
        margin-top: -15rem;
    }

    .identity .row {
        padding-top: 15rem;
    }

    .identity h2 {
        margin-top: 2rem;
    }

    .cards-sec {
        margin-top: 3rem;
        position: relative;
    }

    .id-ptrn1 {
        display: none;
    }

    .h6-dec-p {
        font-size: 12px;
    }

    .project-h3 span {
        font-size: 30px;
    }

    .test-box-weapper .testimonial-box {
        height: 300px;
        margin: 0;
        width: 100%;
        margin-bottom: 5rem;
    }

    .test-txt {
        margin-bottom: 10rem;
    }

    .memsocial {
        gap: 1.2em;
    }

    .project_heading {
        text-align: center;
    }

    .s_project_gal {
        width: 80%;
        margin: 0 auto;
    }

    .contact-heading h2 span {
        font-size: 37px !important;
    }

    .contact-heading h2 {
        line-height: 40px !important;
    }

    .about-cont h3 {
        text-align: center;
    }

    .about-cont h2 {
        text-align: center;
    }

    .about-cont-p {
        text-align: center;
    }

    .contact-heading.about-cont.whyUs-cont h2 {
        text-align: left !important;
        margin-top: .5em;
    }

    .contact-heading.about-cont.whyUs-cont h3 {
        text-align: left !important;
    }
}


@media(max-width:480px) {
    .hero {
        background-size: 100%;
        background-position: center -1% top;
        background-size: cover;
        transform: translate(-3%, 0);
        border-radius: 0 30px 30px 0;
    }

    .testimonial-box {
        width: 100% !important;
        height: 350px !important;
        margin: 0 auto;
    }

    .testimonial-p {
        font-size: 14px;
        line-height: 33px;
    }

    .testimonial-auth {
        font-size: 16px;
        text-align: left;
        margin-left: 60px;
    }

    .testimonial-auth::before {
        left: -15%;
    }

    .memImg {
        width: 200px;
    }

    .s_project_content {
        width: 95%;
        margin: 0 auto;
    }

    .lft-btn {
        position: relative;
        padding: 7px 14px 7px 14px;
    }

    .prev-txt h5,
    .next-txt h5 {
        font-size: 0.6em;
        color: #AAA;
        margin-bottom: 4px;
        margin-top: 0;
    }

    .prev-txt h4,
    .next-txt h4 {
        display: none;
    }
}

@media(max-width:380px) {
    .testimonial-box {
        height: 380px !important;
    }
}